In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('Data/gemstone.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [7]:
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [8]:
data = data.drop(labels=['id'], axis = 1)

In [9]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [10]:
#Seperate diffrentiate independent column(input) and dependent column(output)
X = data.drop(labels=['price'], axis = 1)
Y = data[['price']]

In [11]:
X

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [12]:
Y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [13]:
# Diffrentiate the categorical and numerical column from the X
categorical_col = X.select_dtypes(include='object').columns
numerical_col = X.select_dtypes(exclude='object').columns

In [14]:
categorical_col

Index(['cut', 'color', 'clarity'], dtype='object')

In [15]:
numerical_col

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [16]:
#Ranking of the categorical data for the Encoding
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [18]:
from sklearn.impute import SimpleImputer#For the automate the handling the missing value of the data 
from sklearn.preprocessing import StandardScaler #for the Feature Scaling 
from sklearn.preprocessing import OrdinalEncoder # For the performing the encoding of the ordinal categorical data 

from sklearn.pipeline import Pipeline
#The purpose of the pipeline is to assemble several steps that can be cross-validated together while setting different parameters. 
from sklearn.compose import ColumnTransformer

In [19]:
#Now create the pipline 

num_pipeline = Pipeline(steps=
                   [('imputer',SimpleImputer(strategy='median')),
                    ('scaler', StandardScaler())])

cat_pipeline = Pipeline(
    steps = [
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('ordinalencoding', OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])),
    ('scaler', StandardScaler())

    ])

preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline,numerical_col),
    ('cat_pipeline', cat_pipeline,categorical_col)]
)

In [20]:
#Train test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [21]:
X_train.head()

        carat        cut color clarity  depth  table     x     y     z
11504    0.41      Ideal     E    VVS2   60.6   56.0  4.85  4.80  2.93
95284    1.23  Very Good     H     VS1   59.9   59.0  6.91  7.01  4.19
184777   1.70    Premium     H     VS2   62.0   58.0  7.61  7.66  4.74
5419     0.33      Ideal     F    VVS1   61.2   56.0  4.47  4.44  2.73
45466    0.33  Very Good     I     SI1   62.1   58.0  4.41  4.45  2.75

In [22]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns = preprocessor.get_feature_names_out())

In [23]:
X_train

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.823144,-1.129988,-0.641897,-0.780451,-0.835103,-0.876024,0.874100,-0.936747,1.350746
1,0.945023,-1.777823,0.921902,1.073226,1.166389,0.946633,-1.137644,0.910853,0.684455
2,1.958484,0.165682,0.400636,1.703116,1.755063,1.742237,-0.131772,0.910853,0.018164
3,-0.995648,-0.574701,-0.641897,-1.122391,-1.161138,-1.165334,0.874100,-0.320880,2.017037
4,-0.995648,0.258230,0.400636,-1.176382,-1.152082,-1.136403,-1.137644,1.526720,-0.648127
...,...,...,...,...,...,...,...,...,...
135496,-0.629077,-1.500179,1.964434,-0.546492,-0.518125,-0.644575,-1.137644,-0.936747,-0.648127
135497,2.411307,0.443325,2.485700,1.919078,1.872797,1.930288,-1.137644,-0.320880,-0.648127
135498,0.923460,0.906065,0.400636,0.992240,0.921862,1.047891,-0.131772,0.294987,0.018164
135499,-1.038774,-0.667249,-0.641897,-1.212375,-1.197364,-1.252127,-1.137644,0.294987,2.017037
135500,-1.038774,-0.019414,0.921902,-1.239371,-1.215477,-1.208731,-1.137644,0.294987,-1.314417

In [24]:
X_test = preprocessor.transform(X_test)

In [25]:
X_test

array([[-0.62907669,  0.25822979, -0.12063049, ...,  0.87410007,
        -1.55261352, -0.64812655],
       [ 2.60537405, -2.14801405, -0.12063049, ..., -1.13764403,
         0.29498662, -1.31441737],
       [-1.1250258 , -1.22253565,  0.92190185, ..., -0.13177198,
        -0.93674681,  2.01703677],
       ...,
       [-0.82314374, -0.01941373, -0.64189666, ...,  0.87410007,
         0.29498662,  2.01703677],
       [ 0.90189666, -0.66724861,  1.44316802, ..., -0.13177198,
         1.52672004, -0.64812655],
       [ 0.47063656,  0.90606467, -0.64189666, ..., -1.13764403,
        -0.93674681,  0.01816428]])

### Model Training

In [26]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet#For train the model 
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

In [27]:
regression = LinearRegression()

In [28]:
r = regression.fit(X_train, y_train)

In [29]:
prediction = regression.predict(X_test)

c:\Users\praja\Ineuron_Regression\Project\venv\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [33]:
pd.DataFrame(prediction)

                  0
0       1616.032760
1      15104.136312
2       1727.492281
3        676.879063
4       6502.462935
...             ...
58067   2913.175824
58068   2047.809627
58069   1878.274252
58070   6295.069515
58071   5976.942077

[58072 rows x 1 columns]

In [34]:
r2 = r2_score(y_test,prediction)

In [36]:
r2*100

93.62906819996049

In [37]:
#multiple model train
models = {
   'LinearRegression': LinearRegression(),
   'Lasso': Lasso(),
    'Ridge' : Ridge(),
    'Elasticnet': ElasticNet()
}

In [38]:
#evalute the model
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [39]:

model_list=[]
r2_list=[]
for i in range(len(list(models.values()))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    y_predicted = model.predict(X_test)
    
    mae, rmse, r2_square=evaluate_model(y_test,y_predicted)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

c:\Users\praja\Ineuron_Regression\Project\venv\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

LinearRegression
Model Training Performance
RMSE: 1014.6296630375463
MAE: 675.075827006748
R2 score 93.62906819996049
===================================


Lasso
Model Training Performance
RMSE: 1014.6591302750638
MAE: 676.2421173665508
R2 score 93.62869814082755
===================================


Ridge
Model Training Performance
RMSE: 1014.6343233534448
MAE: 675.1077629781383
R2 score 93.62900967491628
===================================


Elasticnet
Model Training Performance
RMSE: 1533.3541245902313
MAE: 1060.9432977143008
R2 score 85.44967219374031
===================================

c:\Users\praja\Ineuron_Regression\Project\venv\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(
c:\Users\praja\Ineuron_Regression\Project\venv\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but Ridge was fitted with feature names
  warnings.warn(
c:\Users\praja\Ineuron_Regression\Project\venv\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but ElasticNet was fitted with feature names
  warnings.warn(